/*
 * Copyright (c) 2022 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define FUNC 1
#define MEDIA 2

/ {
    sensors {
        compatible = "zmk,keymap-sensors";
        
        // Cấu hình 2 encoder (trái/phải)
        sensors = <&encoder_left &encoder_right>;
        triggers-per-rotation = <24>; // 24 bước/vòng
    };

    keymap {
        compatible = "zmk,keymap";

        /* Layer chính */
        default_layer {
            display-name = "BASE";
            bindings = <
                &kp ESC    &kp SPACE   &mo MEDIA
                &kp BSPC   &kp UP      &kp ENTER
                &kp LEFT   &kp DOWN    &kp RIGHT
            >;
            
            // Encoder: Volume (trái/phải cùng chức năng)
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        /* Layer chức năng */
        function_layer {
            display-name = "FUNC";
            bindings = <
                &none      &none       &to BASE
                &none      &kp C_MUTE  &bt BT_NXT
                &sys_reset &bootloader &bt BT_CLR
            >;
            
            // Encoder: Độ sáng màn hình + Cuộn trang
            sensor-bindings = <&inc_dec_kp C_BRI_DN C_BRI_UP &inc_dec_kp PG_DN PG_UP>;
        };

        /* Layer media */
        media_layer {
            display-name = "MEDIA";
            bindings = <
                &none      &kp C_PREV  &none
                &none      &kp C_PLAY  &none
                &none      &kp C_NEXT  &none
            >;
            
            // Encoder: Tuỳ chỉnh riêng
            sensor-bindings = <&inc_dec_kp C_EJECT C_EJECT &inc_dec_kp LEFT RIGHT>;
        };
    };
};

/ {
    // Cấu hình phần cứng encoder (tuỳ chỉnh theo board của bạn)
    encoders {
        compatible = "zmk,encoders";
        
        encoder_left: encoder_left {
            status = "okay";
            a-gpios = <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            b-gpios = <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        };

        encoder_right: encoder_right {
            status = "okay";
            a-gpios = <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            b-gpios = <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        };
    };
};
